<div class="post-card">
    <div class="post-card-header">
        {{post_title}}
    </div>
    <div class="post-card-body">
        {{post_content}}
    </div>
    <div class="post-card-comment">
        
    </div>
</div>