<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>CMS Blog</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around bg-indigo-800'>
      <header class='display-flex justify-space-between align-center p-2'>
        <nav>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
            <a id='logout' href='/api/user/logout'>Logout</a>
          {{else}}
            <a id='login' href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>